---

# ------------------------------------------------------
# General
# ------------------------------------------------------

- name: Create directories
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: "{{ item.mode | default('0755') }}"
  loop: "{{ slurm_dirs['slurmdbd'] }}"

- name: Get slurmdb version
  ansible.builtin.command: slurmdbd -V
  changed_when: false
  failed_when: false
  register: _slurmdb_version

# - name: JWT token authentication is avaialble from 20.02
#   set_fact:
#     slurm_jwt: true
#   when: slurmdb_version is version('20.02', '>=')


# ------------------------------------------------------
# slurmdbd
# ------------------------------------------------------

- name: Distribute {{ slurm_conf_dir }}/slurmdbd.conf  # noqa name[template]
  ansible.builtin.template:
    src: slurmdbd.conf.j2
    dest: "{{ slurm_conf_dir }}/slurmdbd.conf"
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: '0600'
    backup: true
  register: _slurmdbd

- name: Enable the slurmdbd on this control node
  ansible.builtin.service:
    name: slurmdbd
    enabled: yes
    state: started

- name: Distribute JWT token
  ansible.builtin.copy:
    src: "{{ slurm_jwt_token }}"
    dest: /etc/slurm/jwt_hs256.key
    owner: root
    group: root
    mode: "0600"
  when: slurm_jwt
  register: _slurm_jwt

- name: Restart slurmdbd  # noqa no-handler
  ansible.builtin.service:
    name: slurmdbd
    state: restarted
  when: _slurmdbd.changed or _slurm_jwt.changed


# ------------------------------------------------------
# Firewall
# ------------------------------------------------------

- name: Open firewall ports for Slurm DB
  ansible.builtin.include_role:
    name: deitkrachten.firewall
  vars:
    firewall_ports: "{{ slurm_firewall_ports['slurmdbd'] }}"
  when:
    - slurm_firewall | bool
