---

- name: Add slurm-drmaa PPA (Ubuntu)
  when:
    - ansible_os_family == 'Debian'
    - "'client' in slurm_roles"
    - slurm_install_drmaa | bool
  vars:
    slurm_drmaa_key_tmp: "/tmp/{{ slurm_drmaa_key_url | basename }}"
  block:

    - name: Download the GPG key
      ansible.builtin.get_url:
        url: "{{ slurm_drmaa_key_url }}"
        dest: "{{ slurm_drmaa_key_tmp }}"
        owner: root
        group: root
        mode: "0644"
      changed_when: false

    - name: Convert APT key into binary format
      ansible.builtin.command:
        cmd: >-
          gpg
          --batch
          --yes
          --no-tty
          --dearmor
          -o {{ slurm_drmaa_key_tmp }}1
          {{ slurm_drmaa_key_tmp }}
      changed_when: false
      tags: molecule-idempotence-notest

    - name: Update APT key
      ansible.builtin.copy:
        src: "{{ slurm_drmaa_key_tmp }}1"
        dest: "{{ slurm_drmaa_key_file }}"
        mode: "0644"
        remote_src: true

    - name: Delete temporary files
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      changed_when: false
      loop:
        - "{{ slurm_drmaa_key_tmp }}"
        - "{{ slurm_drmaa_key_tmp }}1"

    - name: Add official repository
      ansible.builtin.apt_repository:
        repo: >-
          deb
          [arch=amd64,arm64 signed-by={{ slurm_drmaa_key_file }}]
          {{ slurm_drmaa_repo_url }}
          {{ ansible_distribution_release }}
          main
        state: present
        filename: "{{ slurm_drmaa_repo_name }}"

- name: Add repository (RedHat 7)
  ansible.builtin.yum_repository:
    name: galaxy
    description: Galaxy Packages for Enterprise Linux $releasever - $basearch
    baseurl: https://depot.galaxyproject.org/yum/el/$releasever/$basearch/
    gpgcheck: no
  when:
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version | int == 7
    - slurm_install_drmaa | bool
