---

dependency:
  name: galaxy
driver:
  name: molecule_hetznercloud
lint: |
  set -e
  yamllint .
  ln -fs molecule/default/requirements.yml
  ansible-lint
  rm -f requirements.yml
platforms:
{% for platform in MOLECULE_DISTROS %}
  - name: slurm-{{ platform.name }}-db
    server_type: "{{ platform.server_type | default('cx22') }}"
    image: "{{ platform.image }}"
    location: "{{ platform.location | default('hel1') }}"
    groups: ['slurm_db']
  - name: slurm-{{ platform.name }}-master
    server_type: "{{ platform.server_type | default('cx22') }}"
    image: "{{ platform.image }}"
    location: "{{ platform.location | default('hel1') }}"
    groups: ['slurm_masters']
  - name: slurm-{{ platform.name }}-worker
    server_type: "{{ platform.server_type | default('cx22') }}"
    image: "{{ platform.image }}"
    location: "{{ platform.location | default('hel1') }}"
    groups: ['slurm_nodes']
{% endfor %}
provisioner:
  name: ansible
{% if MOLECULE_ANSIBLE_ARGS is defined %}
  ansible_args:
{% for molecule_ansible_arg in MOLECULE_ANSIBLE_ARGS %}
    - {{ molecule_ansible_arg }}
{% endfor %}
{% endif %}
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_VERBOSITY: 0
  lint:
    name: ansible-lint
  playbooks:
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}
  inventory:
    group_vars: {"linux": {"ansible_user": "vagrant", "ansible_password": "vagrant"}, "windows": {"ansible_user": "vagrant", "ansible_password": "vagrant", "ansible_become_user": "vagrant", "ansible_become_method": "runas", "ansible_connection": "ssh", "ansible_shell_type": "cmd"}, "all": {"slurm_uses_dns": false, "slurm_node_active": true}}
    host_vars:
{% for platform in MOLECULE_DISTROS %}
      slurm-{{ platform.name }}-db:
        slurm_db_host: slurm-{{ platform.name }}-db
        slurm_db_ip: hostvars['slurm-{{ platform.name }}-db']['ansible_default_ipv4']['address']
        slurm_master_ip: hostvars['slurm-{{ platform.name }}-master']['ansible_default_ipv4']['address']
        slurm_master_name: slurm-{{ platform.name }}-master
      slurm-{{ platform.name }}-master:
        slurm_db_host: slurm-{{ platform.name }}-db
        slurm_db_ip: hostvars['slurm-{{ platform.name }}-db']['ansible_default_ipv4']['address']
        slurm_master_ip: hostvars['slurm-{{ platform.name }}-master']['ansible_default_ipv4']['address']
        slurm_master_name: slurm-{{ platform.name }}-master
      slurm-{{ platform.name }}-worker:
        slurm_db_host: slurm-{{ platform.name }}-db
        slurm_db_ip: hostvars['slurm-{{ platform.name }}-db']['ansible_default_ipv4']['address']
        slurm_master_ip: hostvars['slurm-{{ platform.name }}-master']['ansible_default_ipv4']['address']
        slurm_master_name: slurm-{{ platform.name }}-master

{% endfor %}
scenario:
  name: default
verifier:
  name: ansible
